@import "tailwindcss";

@font-face {
  font-family: "Poetsen";
  src: url("./assets/fonts/PoetsenOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.font-poetsen {
  font-family: "Poetsen", sans-serif;
}

.eza-title {
  -webkit-text-stroke: 3px #ffc0e9;
  color: white;

  text-shadow:
    0 0 20px rgba(180, 140, 255, 0.35),
    0 0 50px rgba(160, 100, 255, 0.25),
    0 0 90px rgba(140, 80, 255, 0.18);

  animation: ezaGlow 3s ease-in-out infinite;
}

@keyframes ezaGlow {
  0%,
  100% {
    text-shadow:
      0 0 20px rgba(180, 140, 255, 0.35),
      0 0 50px rgba(160, 100, 255, 0.25),
      0 0 90px rgba(140, 80, 255, 0.18);
  }

  50% {
    text-shadow:
      0 0 30px rgba(200, 170, 255, 0.5),
      0 0 70px rgba(170, 120, 255, 0.35),
      0 0 120px rgba(140, 80, 255, 0.25);
  }
}
